:root {
  --primary-color: #202020;
  --secondary-color: #fff;
  --primary-font: "Roboto";
  --secondary-font: "Montserrat";
}

body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.navbar-nav a {
  color: var(--secondary-color);
}
.navbar-nav a:hover {
  color: var(--secondary-color);
  font-weight: bold;
}

.heading {
  background-image: url("/images/bg.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-header {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  padding: 295px 0;
  text-transform: uppercase;
}

.text-header h2 {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 28px;
  margin-bottom: 26px;
  text-align: center;
}

.text-header h1 {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 6px;
  line-height: 84px;
  margin-bottom: 30px;
}

.text-header p {
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 460px;
  text-transform: initial;
}

.btn-branding {
  background-color: var(--secondary-color);
  border-radius: 50px;
  color: #272142;
  font-family: var(--secondary-font);
  font-size: 14px;
  letter-spacing: 1.6px;
  line-height: 17px;
  margin: 35px 10px 0 10px;
  padding: 18px 40px;
}

.photo-content {
  padding-top: 100px;
  padding-bottom: 60px;
}

.image-row {
  margin: 0 40px 40px 0;
}

.about-text {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  padding-left: 40px;
  padding-right: 56px;
}
.about-text h3 {
  color: #f65282;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 21px;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.about-text h1 {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 6px;
  line-height: 75px;
  margin-bottom: 34px;
  text-transform: uppercase;
}
.about-text p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 50px;
}
.about-text i {
  margin-right: 30px;
  margin-bottom: 66px;
}

.camera-info {
  background-color: #2d2727;
  border-radius: 4px;
  padding: 20px;
  max-width: 85%;
}
.camera-info h3 {
  color: var(--secondary-color);
  letter-spacing: 0;
  margin-left: 30px;
  text-transform: initial;
}

.gallery {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 84px;
  margin-top: 32px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .text-header {
    padding: 195px 40px;
  }
  .text-header h1 {
    font-size: 40px;
  }
  .photo-content {
    padding-top: 30px;
  }
  .image-row {
    justify-content: center;
    margin: 25px;
    text-align: center;
  }

  .about-image {
    padding: 0;
  }
  .about-text {
    justify-content: center;
    padding: 30px;
    text-align: center;
  }
  .about-text h1 {
    font-size: 36px;
  }
  .camera-info {
    display: block;
    margin: 0 auto;
  }
  .camera-info h3 {
    margin: 0;
  }
  .gallery {
    font-size: 36px;
  }
}
